

input[type=text], textarea {
    font-family: Calibri;
    font-size: 1em;
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container {
    position: relative;
    height: 150px;
    border-radius: 5px;
    padding: 40px;
}

.row {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.comments-container {
    margin-top: 30px;
}

.comments-item {
}

.comments-paragraphs {
}
