{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'button.css' %}">
<link rel="stylesheet" href="{% static 'coffee.css' %}">
<link rel="stylesheet" href="{% static 'form.css' %}">
<link rel="stylesheet" href="{% static 'like.css' %}">
<link rel="stylesheet" href="{% static 'navbar.css' %}">
<link rel="stylesheet" href="{% static 'category.css' %}">


<html>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SGQFWLK7X0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SGQFWLK7X0');
</script>

<ul>
    <li><a href="{% url 'index' %}">Main</a></li>
    <li><a href="{% url 'search' %}">Search</a></li>
    <li><a href="{% url 'about' %}">About</a></li>

    {% if user.is_authenticated %}
    <li style="float:right"><a href="{% url 'account_logout' %}">Welcome, {{ user.username }}! Logout</a></li>
    {% else %}
    <li style="float:right"><a href="{% provider_login_url 'google' %}">Login</a></li>
    {% endif %}
</ul>

<head>
    <title>AI Papers</title>
</head>

<body>

<h1>Daily AI Papers</h1>
<p>Discover the most recent AI papers ranked by algorithm. <b>:)</b></p>

<div class="extra-row">
</div>

<div class="calendar-row">
    {% if next %}
        {% if category == "none" %}
        <button class="arrow-right" onclick="location.href='/{{ next_date }}/'"></button>
        {% else %}
        <button class="arrow-right" onclick="location.href='/{{ next_date }}/{{ category }}/'"></button>
        {% endif %}

    {% else %}
        {% if category == "none" %}
        <button class="arrow-empty" onclick="location.href='/{{ curr_date }}/'"></button>
        {% else %}
        <button class="arrow-empty" onclick="location.href='/{{ curr_date }}/{{ category }}/'"></button>
        {% endif %}

    {% endif %}
    <div class="calendar">
        <p class="calendar-month">{{ month }}</p>
        <p class="calendar-day">{{ day }}</p>
    </div>

    {% if category == "none" %}
    <button class="arrow-left" onclick="location.href='/{{ prev_date }}/'"></button>
    {% else %}
    <button class="arrow-left" onclick="location.href='/{{ prev_date }}/{{ category }}/'"></button>
    {% endif %}

    <div class="category-group">
    {% if category == "none" %}
    <button class="category-selected" onclick="location.href='/{{ curr_date }}'"><b class="category-text-selected">All</b></button>
    {% else %}
    <button class="category" onclick="location.href='/{{ curr_date }}'"><b class="category-text">All</b></button>
    {% endif %}

    {% if category == "transformer" %}
    <button class="category-selected" onclick="location.href='/{{ curr_date }}/transformer'"><b class="category-text-selected">Transformer</b></button>
    {% else %}
    <button class="category" onclick="location.href='/{{ curr_date }}/transformer'"><b class="category-text">Transformer</b></button>
    {% endif %}

    {% if category == "diffusion" %}
    <button class="category-selected" onclick="location.href='/{{ curr_date }}/diffusion'"><b class="category-text-selected">Diffusion</b></button>
    {% else %}
    <button class="category" onclick="location.href='/{{ curr_date }}/diffusion'"><b class="category-text">Diffusion</b></button>
    {% endif %}

    {% if category == "reinforcement" %}
    <button class="category-selected" onclick="location.href='/{{ curr_date }}/reinforcement'"><b class="category-text-selected">Reinforcement Learning</b></button>
    {% else %}
    <button class="category" onclick="location.href='/{{ curr_date }}/reinforcement'"><b class="category-text">Reinforcement Learning</b></button>
    {% endif %}

    {% if category == "other" %}
    <button class="category-selected" onclick="location.href='/{{ curr_date }}/other'"><b class="category-text-selected">Other</b></button>
    {% else %}
    <button class="category" onclick="location.href='/{{ curr_date }}/other'"><b class="category-text">Other</b></button>
    {% endif %}
    </div>

</div>

<div class="grid-container">
    {% for news, liked in news_data %}
    <div class="grid-item">
        <h2 class="grid-set-color">{{ news.title }}</h2>

        <div class="grid-info"><p class="grid-set-color"><b class="grid-info-text">{{ news.date }}</b></p></div>

            <div class="grid-info">
                {% if liked %}
                <button  class="like-button active" id="{{ news.news_id }}" data-url="{% url 'post_like' %}">
                    <p class="like-button-text active" id="text{{ news.news_id }}">Likes: {{ news.total_likes }}</p>
                </button>
                {% else %}
                <button  class="like-button" id="{{ news.news_id }}" data-url="{% url 'post_like' %}">
                    <p class="like-button-text" id="text{{ news.news_id }}">Likes: {{ news.total_likes }}</p>
                </button>
                {% endif %}
            </div>

        <div class="grid-info"><p class="grid-set-color"><b class="grid-info-text">Relevance {{ news.citation_rank }}</b></p></div>

        {% if news.affiliations != "" %}
        <p class="grid-set-color"><b class="grid-info-text">{{ news.affiliations }}</b></p>
        {% else %}
        {% endif %}
        <p class="grid-paragraphs">{{ news.text }}</p>
        <button class="button-17" onclick="window.open('{{ news.link }}','_blank')">
                arXiv
        </button>
    </div>
    {% endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
    $('.like-button').click(function(){
    var catid;
    catid = $(this).attr("id");
    $.ajax(
    {
        type: "GET",
        url: $(this).attr("data-url"),
        data:{
                 "post_id": catid,
                 "csrfmiddlewaretoken": "{{ csrf_token }}",
                 "action": "get"
        },
        success: function(data)
        {
            $('#text' + catid ).text(data['new_string']);
            if (data['flag']) {
                $('#' + catid).addClass('active');
                $('#text' + catid).addClass('active');

            } else {
                $('#' + catid).removeClass('active');
                $('#text' + catid).removeClass('active');

            }
        }
     })
});
</script>

</body>

</html>
